<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="[%date{HH:mm:ss}] %logger{1}: %message%n%throwable" />
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="com.mchange" level="warn" />
    <Root level="all">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>